img{
	width: 100%;
	border-radius:10px;
}

body{
	background-color: pink;
}

h1 {
	color: white;
	font-size: 1em;
	text-align: center;
}
h1.title{
	color: white;
	font-size: 2em;
	text-align: center;
	display:block;
	background-color:#202078;
	padding:50px;
}

*{
	margin:0;
	padding: 0;
}

nav ul{
	overflow: hidden;
	list-style-type: none;
	background-color: #522258;
}



li a{
	float:left;
	display: block;
	font-size: 2em;
	float: left;
	color: white;
	padding:20px;
	text-decoration: none;
}

li a:hover{
	background-color:#D95F59;
}

nav {
/*	position: fixed;*/
	top: 0;
	width: 100%;
}

.content{
	margin-left: 5%;
	margin-right: 5%;
}

p{
	color:white;
	font-size: 16pt;
	padding: 20px;
}

hr{
	color:blue;
}

.glass{
	border-radius:50px;
	width:80%;

	margin:auto;
	color:white;
	margin-top: 50px;
	font-size: 2em;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.027);
	border-top:1px solid rgba(255, 255, 255, 0.4);
	border-left:1px solid rgba(255, 255, 255, 0.4);
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

}
