*{
	margin:0;
	padding: 0;
}

.container{
	background-color:#15154D;
	max-width: 1500px;
	width:90%;
	margin:auto;
	padding:40px 5px;
	font-size:0;
}

.photo_gallery{
	background-color:#15154D;
	display:flex;
	font-size:0;
	gap:5px;
}

@media(max-width:768px){
	.photo_gallery{
		flex-direction:column;
	}
}

.photo_gallery_column{
	background-color:#15154D;
	display:flex;
	flex-direction:column;
	font-size:0;
	flex-basis: 100%;
	gap:5px;
}

.photo{
/*	background-color:dimgrey;*/
	width:100%;
	border-radius: 10px;
	object-fit: cover;
	font-size:0;
}

img{
	width:100%;
/*	border-radius: 5px;*/
	font-size:0;
}
img{
	width: 100%;
	border-radius:10px;
	padding:0;
	margin: 0;
	font-size:0;
}

body{
	background-color: black;
}

h1 {
	color: white;
	font-size: 1em;
	text-align: center;
}
h1.title{
	color: white;
	font-size: 2em;
	text-align: center;
	display:block;
	background-color:#202078;
	padding:50px;
}

nav ul{
	overflow: hidden;
	list-style-type: none;
	background-color: #522258;
}



li a{
	float:left;
	display: block;
	font-size: 2em;
	float: left;
	color: white;
	padding:20px;
	text-decoration: none;
}

li a:hover{
	background-color:#D95F59;
}

nav {

	top: 0;
	width: 100%;
}

.content{
	margin-left: 5%;
	margin-right: 5%;
}

p{
	color:white;
	font-size: 16pt;
	padding: 20px;
}

hr{
	color:blue;
}

.glass{
	border-radius:50px;
	width:80%;

	margin:auto;
	color:white;
	margin-top: 50px;
	font-size: 2em;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.027);
	border-top:1px solid rgba(255, 255, 255, 0.4);
	border-left:1px solid rgba(255, 255, 255, 0.4);
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

}
